body, div, h2, ul, li, canvas {
  margin: 0;
  padding: 0;
}

body {
  font: normal 12px Arial;
  -webkit-user-select: none;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: -webkit-linear-gradient(#E2E1C6, #DAC7C7);
  background: linear-gradient(to bottom, #E2E1C6, #DAC7C7);
}
#info {
  position: relative;
  padding: 5px;
  z-index: 10;
}
h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
a {
  color: inherit;
}
.error {
  padding: 8px;
  color: #fff;
  background: #600;
}
.github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
}

.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  background: -webkit-linear-gradient(#ddd, #aaa);
  background: linear-gradient(to bottom, #ddd, #aaa);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset;
}
.button:hover {
  background: -webkit-linear-gradient(#eee, #bbb);
  background: linear-gradient(to bottom, #eee, #bbb);
}
.button.active,
.button:active {
  background: -webkit-linear-gradient(#bbb, #888);
  background: linear-gradient(to bottom, #bbb, #888);
}

.create-message {
  margin-top: 30px;
  font-size: 1.2em;
  display: inline-block;
}
.back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 15;
}
.particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 15;
}

#room-qr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
}

.open-mouth {
  position: absolute;
  bottom: 15px;
  left: 50%;
  padding: 10px 25px;
  transform: translateX(-50%);
}

.chat {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

body:not(.viewer) .viewer-only,
body:not(.controller) .controller-only,
body:not(.in-room) .room-only,
body:not(.debug) .debug-only {
  display: none;
}