body, div, h2, ul, li, canvas {
  margin: 0;
  padding: 0;
}

body {
  font: normal 12px Arial;
  -webkit-user-select: none;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: linear-gradient(to bottom, #a0f0ff, #70d0df);
}
#game {
  position: relative;
  padding: 5px;
  z-index: 10;
}
h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
a {
  color: inherit;
}
.error {
  padding: 8px;
  color: #fff;
  background: #600;
}
.github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
}

.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  background: linear-gradient(to bottom, #ddd, #aaa);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset;
}
.button:hover {
  background: linear-gradient(to bottom, #eee, #bbb);
}
.button.active,
.button:active {
  background: linear-gradient(to bottom, #bbb, #888);
}

.create-message {
  margin-top: 30px;
  font-size: 1.2em;
  display: inline-block;
}

.open-mouth {
  position: absolute;
  bottom: 15px;
  left: 50%;
  padding: 10px 25px;
  transform: translateX(-50%);
}

body:not(.viewer) .viewer-only,
body:not(.controller) .controller-only,
body:not(.in-game) .game-only {
  display: none;
}